/* 나중에 global.css에 넣는 것이 좋을 것 같아요 */
.ir {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}

.user_profile_section {
    background-color: #f2f2f2;
}

.user_profile_wrap {
    box-sizing: border-box;
    height: 100vh;
    padding: 60px 0;
}

.product_section {
    width: 100%;
    background-color: #fff;
    border-top: 0.5px solid #dbdbdb;
    border-bottom: 0.5px solid #dbdbdb;
    padding: 20px 0;
    margin: 6px auto;
}

.product_section .product_list_warp {
    max-width: 400px;
    margin: 0 auto;
}

.product_section .title {
    font-size: 16px;
    line-height: 1.25;
    margin-bottom: 16px;
}

.product_section .item_warp {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
}

.post_section {
    display: flex;
    background-color: #fff;
    flex-direction: column;
    align-items: center;
    border-top: 0.5px solid #dbdbdb;
    position: relative;
    padding: 60px 0;
}

.post_section::after {
    content: '';
    width: 100%;
    height: 0.5px;
    background-color: #dbdbdb;
    position: absolute;
    top: 44px;
}

.post_section .post_shape_button_warp {
    max-width: 390px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 44px;
    margin-bottom: 16px;
}

.post_shape_button_warp .list_button,
.post_shape_button_warp .album_button {
    width: 26px;
    height: 26px;
    background-image: url(../../assets/icon-post-list-on.png);
    background-size: cover;
    cursor: pointer;
}

.list_button.off {
    background-image: url(../../assets/icon-post-list-off.png);
}

.post_shape_button_warp .album_button {
    background-image: url(../../assets/icon-post-album-off.png);
    margin-left: 16px;
}

.album_button.on {
    background-image: url(../../assets/icon-post-album-on.png);
}

.post_album_warp {
    max-width: 390px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 8px;
    padding-bottom: 30px;
}

.post_album_item {
    width: 114px;
    height: 114px;
}
