.modal_lists {
    background-color: white;
    border-radius: 10px 10px 0 0;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 36px 0 10px;
    z-index: 40;
}

.modal_lists::before {
    position: absolute;
    content: '';
    top: 16px;
    left: 50%;
    width: 50px;
    height: 4px;
    background-color: #dbdbdb;
    border-radius: 5px;
    transform: translateX(-50%);
}
