.modal_list {
    padding: 14px 26px 14px 26px;
    font-size: 1.4rem;
    font-weight: bold;
}

.modal_list .modal_listBtn {
    width: 100%;
    height: 100%;
    font-weight: bold;
    text-align: left;
}
.modal_list .modal_listBtn:hover {
    cursor: pointer;
}
