.news_section {
    min-height: 100vh;
    height: 100%;
    background-color: white;
}

.news_title {
    padding: 60px 10px 30px;
    margin: 0 0 2rem 0;
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--logo-black);
    text-align: center;
}

.news_title .title_span {
    font-size: 3.5rem;
    color: var(--logo-yellow);
    text-shadow: 1px 1px 1px var(--logo-black);
}

.news_box {
    width: 40rem;
    margin: 0 auto;
    height: 100%;
    padding-bottom: 60px;
}
