.emailJoin_body {
    max-width: 80%;
    min-width: 322px;
    margin: 0 auto;
}

.emailJoin_title {
    padding-top: 40px;
}

.join_input_email,
.join_input_pw {
    margin-bottom: 6px;
}

.join_error,
.pw_error {
    color: var(--error-red);
    font-size: 1.2rem;
    margin-bottom: 16px;
}

.join_btn_active {
    background-color: var(--logo-black);
    color: white;
    border-radius: 44px;
    margin-top: 14px;
    margin-bottom: 20px;
    padding: 13px 0;
    width: 100%;
    cursor: pointer;
}

.join_btn {
    background-color: var(--btn-gray);
    color: white;
    border-radius: 44px;
    margin-top: 14px;
    margin-bottom: 20px;
    padding: 13px 0;
    width: 100%;
    cursor: pointer;
}

.join_span {
    font-size: 1.4rem;
}
