.login_body {
    max-width: 80%;
    min-width: 322px;
    margin: 0 auto;
    height: 100vh;
}

.login_title {
    padding-top: 40px;
}

.login_input_id,
.login_input_pw {
    margin-bottom: 6px;
}

/* .login_error, */
.email_error,
.pw_error {
    color: var(--error-red);
    font-size: 1.2rem;
    margin-bottom: 16px;
}

.input_label_pw {
    margin-top: 10px;
}

.login_btn_active {
    background-color: var(--logo-black);
    color: white;
    border-radius: 44px;
    margin-top: 14px;
    margin-bottom: 20px;
    padding: 13px 0;
    width: 100%;
    cursor: pointer;
}

.login_btn {
    background-color: var(--btn-gray);
    color: white;
    border-radius: 44px;
    margin-top: 14px;
    margin-bottom: 20px;
    padding: 13px 0;
    width: 100%;
    cursor: pointer;
}

.login_span {
    font-size: 1.4rem;
}

.email_join {
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
}

.email_join_link {
    color: var(--gray-color);
}

.login_label {
    display: block;
    color: var(--gray-color);
    font-size: 1.2rem;
}

.login_input {
    min-height: 32px;
    color: var(--logo-black);
    font-size: 1.4rem;
    width: 100%;
    border: initial;
    border-bottom: 1px solid var(--btn-gray);
    margin-bottom: 6px;
}

.login_input:focus {
    outline: none;
    border-bottom: 1px solid var(--logo-yellow);
}
.login_input::placeholder {
    font-size: 1.4rem;
    color: var(--btn-gray);
}
