.login_body {
    max-width: 80%;
    min-width: 322px;
    margin: 0 auto;
}

.login_title {
    padding-top: 40px;
}

.login_btn {
    background-color: var(--btn-gray);
    color: white;
    border-radius: 44px;
    margin-top: 14px;
    margin-bottom: 20px;
    padding: 13px 0;
    width: 100%;
    cursor: pointer;
}

.login_span {
    font-size: 1.4rem;
}

.email_join {
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
}

.email_join_link {
    color: var(--gray-color);
}
